.fl{
    float: left;
   
}
.fr{
    float: right;
}
.inp{
    width: 50%;
}
.inpp{
    width: 30%;
}
.inp3{
    width: 20%;
}
.cont{
    color: wheat;
}
.cont2{
    color:yellow
}
.bg{
    color: red;
}
